[Unit]
Description=Sashimono rootless dockerd service

[Service]
User=#run_as#
Group=#run_as#
WorkingDirectory=#work_dir#
ExecStart=#work_dir#/run-dockerd.sh

[Install]
WantedBy=multi-user.target